* {
    background-color: #A35234;
}

table,
tr,
td {
    background-color: #C1744C;
    border: 2px solid rgb(105, 43, 36);
    border-radius: 20px;
    padding: 20px;
}

td {
    border-radius: 15px;
    color: rgb(2, 2, 2);
    background-color: #D7AA75;
    font-family: sans-serif;
}